@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.Search_Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    z-index: -1;
    background-color: #363636;
    &-loading {
        height: 100%;
        width: 50px;
        animation: rotation 2s infinite linear;
        filter: invert(100%) sepia(6%) saturate(27%) hue-rotate(289deg)
            brightness(108%) contrast(100%);
    }
}
