@use "../../variables.module";
@use "../../mixins..module";
@include mixins.rotation();

.Search_Page {
    @include mixins.displayFlex(column, center, center);
    margin-top: variables.$header-height;
    z-index: -1;
    background-color: variables.$primary-background-color;
    &-loading {
        @include mixins.loadingImage();
    }
}
