@use "../../variables.module";
@use "../../mixins..module";
.Card_List {
    @include mixins.displayFlex(row, center, center);
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color: variables.$primary-background-color;
}
