@use "../../variables.module";
@use "../../mixins..module";
.Favourites {
    @include mixins.displayFlex(row, center, center);
    flex-wrap: wrap;
    margin-top: variables.$header-height;
}
@include mixins.mediaQueries {
    .Favourites {
        margin-top: 165px;
    }
}
