.Dedicated_Book {
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    &_info {
        background-color: #454545;
        width: 1000px;
        height: 700px;
        display: grid;
        border-radius: 20px;
        grid-template-columns: 1fr 1fr;
        z-index: 2;
    }
}
.book-image {
    height: 700px;
    width: 500px;
    border-radius: 20px 0px 0px 20px;
}
.book-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    overflow: auto;
    padding-left: 5px;
    &_header {
        display: flex;
        padding-top: 10px;
        padding-right: 10px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &-title {
            width: 370px;
            text-decoration: underline;
            &-normal {
                font-size: 2.5rem;
            }
            &-long {
                font-size: 2rem;
            }
            &-longer {
                font-size: 1.5rem;
            }
            &-longeest {
                font-size: 1rem;
            }
        }

        &-favourite:hover {
            cursor: pointer;
            filter: invert(60%) sepia(98%) saturate(23%) hue-rotate(314deg)
                brightness(86%) contrast(84%);
        }
        &-favourite {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg)
                brightness(103%) contrast(103%);
        }
        &-exit {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            font-size: 10px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(302deg)
                brightness(103%) contrast(103%);
        }
        &-exit:hover {
            cursor: pointer;
            filter: invert(60%) sepia(98%) saturate(23%) hue-rotate(314deg)
                brightness(86%) contrast(84%);
        }
    }
    &_main {
        display: flex;
        flex-direction: column;
        height: 630px;
        width: 480px;
        overflow: auto;
        padding-top: 20px;
        > * {
            margin-left: 10px;
            margin-bottom: 20px;
            > ul > li {
                margin-left: 17px;
            }
        }
    }
}
