@use "../../variables.module";
@use "../../mixins..module";
.Card {
    width: variables.$card-width;
    height: variables.$card-height;
    border-radius: variables.$card-border-radius;
    @include mixins.displayFlex(column, end);
    margin: variables.$card-margin;
    box-shadow: 5px 5px 5px black;
    &-image {
        position: absolute;
        height: variables.$card-height;
        width: variables.$card-width;
        border-radius: variables.$card-border-radius;
    }
    &-information {
        @include mixins.displayFlex(column);
        height: variables.$card-height;
        border-radius: variables.$card-border-radius;
        gap: 7px;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        > * {
            margin-left: variables.$card-margin;
        }
        &-title {
            margin-top: variables.$card-margin;
            font-size: variables.$normal-font-size;
            height: 30px;
            width: variables.$card-information-width;
        }
        &-author {
            width: 100%;
            margin-left: 25px;
        }
        &-description {
            overflow: auto;
            border-bottom-left-radius: variables.$card-border-radius;
            border-bottom-right-radius: variables.$card-border-radius;
            padding-bottom: 10px;
            width: variables.$card-information-width;
            height: 85%;
        }
    }
}
.Card:hover {
    cursor: pointer;
}
.Hidden {
    visibility: hidden;
}
