.Card {
    width: 200px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 10px;
    box-shadow: 5px 5px 5px black;
    > * {
        color: black;
    }
    &-image {
        position: absolute;
        z-index: 0;
        height: 300px;
        width: 200px;
        border-radius: 20px;
    }
    &-information {
        display: flex;
        flex-direction: column;
        gap: 7px;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
        height: 300px;
        border-radius: 20px;
        > * {
            color: white;
            margin-left: 10px;
        }
        &-title {
            margin-top: 10px;
            font-size: 20px;
            height: 30px;
            width: 180px;
        }
        &-author {
            width: 100%;
            margin-left: 25px;
        }
        &-description {
            overflow: auto;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-bottom: 10px;
            width: 180px;
            height: 85%;
        }
    }
}
.Card:hover {
    cursor: pointer;
}
.Hidden {
    visibility: hidden;
}
