.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3b3b;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    text-align: center;
}
