@use "../../variables.module";
@use "../../mixins..module";
.Navigation_Bar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    justify-items: flex-start;
    align-items: center;
    height: variables.$header-height;
    width: 100%;
    padding: 0px 10px;
    background-color: variables.$primary-background-color;
    &-logo {
        width: 200px;
        margin-right: 30px;
        grid-area: logo;
    }
    &-favourites {
        @include mixins.displayFlex(row, center, center);
        height: 2rem;
        padding: 10px;
        border: 1px solid variables.$primary-border-color;
        background-color: variables.$primary-background-color;
        border-radius: 10px;
        grid-area: button;
        font-weight: bolder;
    }
    &-favourites:hover {
        cursor: pointer;
        background-color: variables.$secondary-background-color;
    }
}
.hidden {
    margin-top: -180px;
    transition: 1s;
}
@include mixins.mediaQueries {
    .Navigation_Bar {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 10px;
        justify-items: center;
        align-items: center;
        height: 160px;
        gap: 5px;
    }
}
