.Home_Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 40px;
    background-color: #454545;
    &-logo {
        width: 400px;
    }
    &-search {
        &-buttons {
            display: flex;
            height: 2rem;
            justify-content: center;
            align-items: center;
            margin: 30px;
            button {
                height: 2rem;
                padding: 0 10px;
                font-size: 14px;
                border-radius: 5px;
                margin: 0px 20px;
                border: 0px;
                background-color: #454545;
                border: 1px solid white;
                color: white;
            }
            button:hover {
                cursor: pointer;
            }
        }
    }
}
