@use "./variables.module";
@mixin rotation {
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
}

@mixin displayFlex(
    $flex-direction: row,
    $justify-content: flex-start,
    $align-items: normal
) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin loadingImage() {
    animation: rotation 2s infinite linear;
    width: variables.$loading-image-width;
    filter: variables.$primary-svg-color;
}

@mixin dedicatedCardIcons() {
    width: variables.$dedicated-card-header-icon-width;
    filter: variables.$primary-svg-color;
}
